<!--Extend Plugin's base html file-->
{% extends 'netbox_qrcode/qrbase.html' %}{% load render_table from django_tables2 %}
{% block qr_menu_content %}

<!--Div to hold table and search components-->
<div class="row">
  <div class="col-md-12">
    <!--Direct to Rack page-->
    <div class="text-left">
      <a class="btn btn-primary" href="/plugins/netbox_qrcode/devices">Devices</a>
      <a class="btn btn-primary" href="/plugins/netbox_qrcode/racks">Racks</a>
      <a class="btn btn-primary" href="/plugins/netbox_qrcode/cables">Cables</a>
    </div>
    <!--Div to hold all table components-->
    <div class="col-md-9">
      <!--POST form for checkbox submission-->
      <form method="POST" action="print/">
        {% csrf_token %}
        <h3>{% block title %}Cables{% endblock %}</h3>
        <!--Cables Table-->
        <div class="row">
          <div>
            <!--Table variable from views.py-->
            {% render_table table_cable %}
            <!--Print Button-->
            <div class="panel-footer text-left">
              <input class="btn btn-warning btn-sm" type="submit" value="Print Selected" />
              <!--Print QR code without text-->
              <input type="checkbox" id="text-cable" name="without_text" value="without_text"
                style="margin-left: 20px" />
              <label for="text-cable">Print without text</label>
              <span aria-hidden="true"></span>
            </div>
          </div>
        </div>

        <!--Specify object type-->
        <input type="hidden" name="obj_type" value="Cables" />
      </form>
    </div>
    
{% endblock %}