<script type="text/javascript">
    function printImg(source) {
        var win = window.open('');
        win.document.write('<img src="' + source + '" onload="window.print();window.close()" />');
        win.focus();
    }
</script>
<div class="card">
    <h5 class="card-header">
        QR Code
    </h5>
    <div class="card-body text-right noprint">
        <img src="data:image/png;base64,{{image}}" />
    </div>
    <div class="card-footer text-end noprint">
        <button onclick="printImg('data:image/png;base64,{{image}}')" ; class="btn btn-xs btn-primary">
            <span class="mdi mdi-printer" aria-hidden="true"></span> Print
        </button>
    </div>
</div>